<h1>Reports#New</h1>

<form action="/reports" method="post">

  <label>Description</label>
  <input type="text" name="report[desc]">
  <br>
  <label>Temperature</label>
  <input type="number" name="report[temp]">
  <br>
  <label>Humidity</label>
  <input type="number" name="report[humidity]">
  <br>
  <label>Location</label>
  <input type="text" name="report[loc]">
  <br>
  <input type="submit" name="" value="Create">
</form>
